

	<div ng-controller="MainCtrl">	

		<nav class="navbar navbar-inverse navbar-fixed-top">
        <span class="loggedInUser"> {{userName}} <img src="user/user.png"></span>
    </nav>	

		<h1>Logistics Dept Portal</h1> 
		<br>		
		<div class="tab" ng-init="style={'background-color' : '#69A3CA'}">
			<button ng-style="style1" ng-click="page='first'; style1=style; style2=null" ng-init="style1=style; style2=null"><b>Order Details</b></button>
			<button ng-style="style2" ng-click="page='second'; style2=style; style1=null"><b>Carrier Ratings</b></button>
		</div>	  	  
		<div ng-init="page='first'"></div>
	  
		<div ng-show="page === 'first'">
		<br><br>
		    <form name="orderDetailsForm" novalidate>	
			<table id="customers">
				<tr>
					<th>Customer Name</th>
					<th>Order Number</th>
					<th>City</th>
					<th>Customer Type</th>
					<th>Carrier</th>
				</tr>	
				<tr dir-paginate="OrderDtl in OrderDtls | itemsPerPage:2" current-page="currentPage"  pagination-id="order">
					<td>{{OrderDtl.CustName}}</td>
					<td>{{OrderDtl.OrderNo}}</td>
					<td>{{OrderDtl.City}}</td>
					<td>{{OrderDtl.CustType}}</td>
					<td>
						<select ng-model="CarrVal" ng-init="CarrVal=OrderDtl.Carrier"  name="{{OrderDtl.OrderNo}}">
							<option ng-repeat="CarrDtl in CarrDtls | unique: 'CarrName'" value="{{CarrDtl.CarrName}}" ng-disabled="checkAvailability(CarrDtl.CarrName,OrderDtl.City)">{{CarrDtl.CarrName}}</option>
						</select>&emsp;
						<a  class="btn btn-primary btn-xs" ng-disabled="orderDetailsForm.{{OrderDtl.OrderNo}}.$pristine"  ng-click="changeCarrier(CarrVal,OrderDtl)"><span class="glyphicon glyphicon-floppy-disk"></span></a>
					</td>
				</tr>
			</table>
			<dir-pagination-controls  max-size="12"  direction-links="true" boundary-links="true"
                template-url="dirPagination.tpl.html" pagination-id="order">      
             </dir-pagination-controls>
			</form>
		</div>
	  
		<div ng-show="page === 'second'">
		<br>
		Carrier servicing
		<select id="CitySel" ng-model="CityVal" ng-change="onCitySelect(CityVal)">
			 <option value="">Select City</option>
			<option ng-repeat="CarrDtl in CarrDtls | unique: 'City' | orderBy : 'City'" value="{{CarrDtl.City}}" >{{CarrDtl.City}}</option>
		</select>
			<table id="customers" ng-if="filteredCarrDtls">
				<tr>
					<th>Carrier Name</th>
					<th>City Rating</th>
					<th>Visualization</th>
					<th>Servicing City</th>
				</tr>			
				<tr dir-paginate="CarrDtl in filteredCarrDtls | orderBy : '-Rating'| itemsPerPage:2" pagination-id="carrier"  current-page="currentPage">
					<td>{{CarrDtl.CarrName}}</td>
					<td>{{CarrDtl.Rating}}</td>
					<td><span class="stars alignleft"><span ng-style="{'width': getStars({{CarrDtl.Rating}})}"></span></span></td>
					<td>{{CarrDtl.City}}</td>
				</tr>
			</table>
			<dir-pagination-controls  max-size="12"  direction-links="true" boundary-links="true" ng-if="filteredCarrDtls"
                template-url="dirPagination.tpl.html" pagination-id="carrier">      
             </dir-pagination-controls>

		</div> 

		<button type="button" class="btn btn-primary" ng-click="goToInbox()" style="float:right;margin-right:2%;">Logout</button>

	</div>
