<!doctype html>
<html ng-app="App">
	<head>
		<meta charset="utf-8">
		<title>Logistics Dept Portal</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>			
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="HomeApp.js"></script>
		<script>document.write("<base href=\"" + document.location + "\" />");</script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
		<link rel="stylesheet" href="styleLogDep.css">
	</head>
	<body ng-controller="MainCtrl">		

		<h1>Logistics Dept Portal</h1> 
		<br>		
		<div class="tab" ng-init="style={'background-color' : '#69A3CA'}">
			<button ng-style="style1" ng-click="page='first'; style1=style; style2=null" ng-init="style1=style; style2=null"><b>Order Details</b></button>
			<button ng-style="style2" ng-click="page='second'; style2=style; style1=null"><b>Carrier Ratings</b></button>
		</div>	  	  
		<div ng-init="page='first'"></div>
	  
		<div ng-show="page === 'first'">
		<br><br>
		    <form name="orderDetailsForm" novalidate>	
			<table id="customers">
				<tr>
					<th>Customer Name</th>
					<th>Order Number</th>
					<th>City</th>
					<th>Customer Type</th>
					<th>Carrier</th>
				</tr>	
				<tr ng-repeat="OrderDtl in OrderDtls">
					<td>{{OrderDtl.CustName}}</td>
					<td>{{OrderDtl.OrderNo}}</td>
					<td>{{OrderDtl.City}}</td>
					<td>{{OrderDtl.CustType}}</td>
					<td>
						<select ng-model="CarrVal" ng-init="CarrVal=OrderDtl.Carrier"  name="{{OrderDtl.OrderNo}}">
							<option ng-repeat="CarrDtl in CarrDtls | unique: 'CarrName'" value="{{CarrDtl.CarrName}}" ng-disabled="checkAvailability(CarrDtl.CarrName,OrderDtl.City)">{{CarrDtl.CarrName}}</option>
						</select>&emsp;
						<a href="#" class="btn btn-primary btn-xs"  ng-disabled="orderDetailsForm.{{OrderDtl.OrderNo}}.$pristine"><span class="glyphicon glyphicon-floppy-disk"></span></a>
					</td>
				</tr>
			</table>
			</form>
		</div>
	  
		<div ng-show="page === 'second'">
		<br>
		Carrier servicing
		<select id="CitySel" ng-model="CityVal" ng-change="onCitySelect(CityVal)">
			<option value="">City</option>
			<option ng-repeat="CarrDtl in CarrDtls | unique: 'City' | orderBy : 'City'" value="{{CarrDtl.City}}">{{CarrDtl.City}}</option>
		</select>
			<table id="customers">
				<tr>
					<th>Carrier Name</th>
					<th>City Rating</th>
					<th>Visualization</th>
					<th>Servicing City</th>
				</tr>			
				<tr ng-repeat="CarrDtl in filteredCarrDtls | orderBy : '-Rating'">
					<td>{{CarrDtl.CarrName}}</td>
					<td>{{CarrDtl.Rating}}</td>
					<td><span class="stars alignleft"><span ng-style="{'width': getStars({{CarrDtl.Rating}})}"></span></span></td>
					<td>{{CarrDtl.City}}</td>
				</tr>
			<table>
		</div> 

	</body>
</html>