<head>
    <style>
        h1 {
            color:red;
            margin-bottom:50px;
        }
div{
    max-width: 60%;
margin-left:20%;
/* text-align: center; */
margin-top: 100px;
}
.logout {
    float:left;
}
.orderBtn {
    float:right;
}
    </style>
</head>
<body ng-controller="failureCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <span class="loggedInUser"> {{userName}} <img src="user/user.png"></span>
    </nav>
    <div>
    <h1> We are Sorry!!! Order placing failed </h1>
        <button type="button" class="logout btn btn-primary" ng-click="goToPlaceOrder()">Order again</button>
        <button type="button" class=" orderBtn btn btn-primary" ng-click="goToInbox()">Logout</button>
    </div>
 <body>